.hidden {
  display: none;
}
.header {
  position: relative;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  padding: 40px 40px 40px 40px;
  width: 100%;
  height: 100px;
  font-family: Lato, "Open Sans", sans-serif;
  background: #150039;
  font-weight: 300;
  -webkit-overflow-scrolling: touch;
}
.a {
  position: relative;
  bottom: 40px;
  text-align: center;
  color: white;
  text-decoration: none;
  display: inline-block;
}
.b {
  position: relative;
  bottom: 40px;
  left: 450px;
  text-decoration: none;
  display: inline-block;
}
.c {
  text-decoration: none;
  position: relative;
  bottom: 40px;
  left: 460px;
  color: white;
  display: inline-block;
}
.footer {
  text-align: center;
  background: white;
  font-size: 20px;
  position: fixed;
  padding: 40px 0px 40px 40px;
  bottom: 0;
  width: 100%;
  height: 100px;
}
.btn {
  border: none;
  background-color: #150039;
  color: white;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
.header img {
  position: relative;
  bottom: 26px;
  right: 460px;
  width: 60px;
  height: 60px;
}
.Div1 {
  background-color: rgba(46, 199, 245, 0.911);
}
.Div2 {
  background-color: rgba(64, 201, 243, 0.829);
}
.Div3 {
  background-color: rgba(83, 206, 243, 0.781);
}
.Div4 {
  background-color: rgba(101, 208, 241, 0.719);
}
.eDiv {
  background-color: rgba(122, 215, 243, 0.644);
}
.fDiv {
  text-align: center;
}
.h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  position: relative;
  top: 40px;
  padding: 20px;
}
